.ForecastDay {
	font-size: 18px;
}

.forecastdow {
	font-weight: bold;
	color: #0096ff;
}

.forecasticon {
	margin-top: 10px;
}

.forecastTemp {
	font-weight: bold;
	margin-top: 10px;
	color: #71bc78;
}
